@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 52%, 61%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    background: #fff;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: var(--Dark-grayish-blue);
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

p{
   font-size: 1rem; 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.navbar {
    background-image: url('images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
    text-align: center;
    height: 90vh;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.hero-heading{
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    letter-spacing: 2px;
}

.container-nav{
    display: none;
}

.links > li > a {
    color: var(--Very-dark-desaturated-blue)
}

.container{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu{
    cursor: pointer;
}

/* ===== hero section ===== */
.hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.content {
    text-align: center;
    padding: 2.5em;
    order: 2;
}

.content-img{
    order: 1;
}

.content-heading {
    color: var(--Very-dark-desaturated-blue)
}

.content-primary-link{
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-grayish-blue);
    position: relative;
    font-weight: bold;
}

.content-primary-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background: var(--Yellow);
    border-radius: 5px;
    position: absolute;
    opacity: .3;
    bottom: 0;
    left: 0;
}

.content-secondary-link{
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-grayish-blue);
    position: relative;
    font-weight: bold;
}

.content-secondary-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background: var(--Soft-red);
    border-radius: 5px;
    position: absolute;
    opacity: .3;
    bottom: 0;
    left: 0;
}

/*===== services =====*/
.services {
    text-align: center;
}

.service{
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

.ser-1 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    color: var(--Dark-desaturated-cyan);
}

.ser-2{
    background-image: url('images/desktop/image-photography.jpg');
    color: var(--Dark-blue);
}
/*===== client testimonials =====*/
.client-testimonials {
    text-align: center;
}
.client-img {
    border-radius: 50%;
}

.client-testimonials-heading{
    color: var(--Grayish-blue);
    letter-spacing: 3px;
    font-weight: 900;
}

.client{
    padding: 1em;
}

.client-profession {
    margin-top: 0;
}

.client-name {
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-desaturated-blue)
}

.projects{
    display: grid;
    grid-template-columns: .5fr .5fr;
}

/*===== navbar =====*/
footer{
    background: var(--Dark-moderate-cyan);
    color: var(--Dark-desaturated-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.footer-heading{
    margin-top: 0;
}

.footer-nav {
    margin: 2em 0; 
}

.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list > li {
    margin-left: 1em;
}

.footer-list > li > a {
    color: var(--Dark-desaturated-cyan)
}

.container-nav.menu-btn {
    display: block;
}
.container-nav{
    position: fixed;
    z-index: 999;
    width: 60%;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    padding: 1em;
}

.links > li > a {
    color: var(--Very-dark-grayish-blue);
    display: block;
    padding: .5em;
    text-align: right;
    font-size: 1.3rem;
}

.links{
    margin-top: 2em;
}

.links > li > a:hover {
    color: var(--Very-dark-desaturated-blue);
}

.mobile-menu-exit {
    float: right;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }
    .container-nav {
        display: block;
        position: inherit;
        background: none;
        padding: 0;
    }

    .container{
        align-items: flex-start;
        height: 20vh;
    }

    .links{
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .links > li > a {
        color: #fff;
        padding: .5em;
        margin-right: 1em;
        font-size: 1rem;
    }

    .links > li > a:hover {
        background: rgba(255, 255, 255, .5);
        color: #fff;
        padding: .5em;
        border-radius: 1em;
    }

    .navbar{
        background-image: url('images/desktop/image-header.jpg');
        height: 90vh;
    }

    .hero{
        flex-direction: row;
        margin-bottom: 0;
        justify-content: space-around;
    }
    .content {
        text-align: left;
        order: 1;
    }
    
    .content-img{
        max-width: 50%;
        order: 2;
    }

    .content-standout{
        order: 2;
    }
    .content-standout-img {
        order: 1;
    }

    .content-primary-link{
        font-size: .9rem;
    }
    .content-secondary-link{
        font-size: .9rem;
    }
    

    .services{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ser-1{
        max-width: 50%;
    }
    .ser-2{
        max-width: 50%;
    }
    .service{
        padding: 3em;
    }

    .clients{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .projects{
        grid-template-columns: repeat(4,1fr);
    }

    .footer-list > li > a {
        font-size: 1rem;
    }

    .footer-list > li > a:hover {
        color: #fff;
    }
}